{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}

<!--Home-->
<section id="home">

  <!--Hero banner-->
  <header>
    <div class="container-fluid banner-container overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{% static 'vid/ball_bouncing.mp4' %}" type="video/mp4">
    </video>
  </header>
  <!--Hero banner end-->

  <!--Callout-->
  <div class="container text-center">
    <div class="row">
      <div class="col-12">
        <h2 class="my-5">{% trans "You need squad numbers for your team, but how?" %}</h2>
        <p class="my-4">
          {% trans "We provide the required flexibility, service, knowledge and speed to deliver a high quality, eco-efficiently produced and durable product for a decent price." %}
        </p>
        <div class="text-center my-5">
          <a href="#contact" class="btn btn-lg btn-custom-red mb-4" role="button">
            {% trans "let's work together!" %}
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--Callout end-->

</section>
<!--Home end-->

<!--Products-->
<section class="bg-color-blue">
  <div class="container-fluid">
    <div class="row">
      <div class="col my-5">
        <h2 class="text-center text-uppercase">{% trans "Our products" %}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-center">
        <div class="card-deck pb-5">
          <div class="productcard card rounded-0">
            <div class="card-body d-flex flex-column">
              <h3 class="card-title text-center text-uppercase">{% trans "Standard" %}</h3>
              <div class="productcard-icon text-center">
                <i class="fas fa-store-alt fa-stack-1x fa-inverse"></i>
              </div>
              <ul>
                <li> {% trans "Fast delivery times" %} </li>
                <li> {% trans "No extra costs" %} </li>
                <li> {% trans "Coal based anti-bleed blocker" %} </li>
                <li> {% trans "Up to 5 standard designs" %} </li>
                <li> {% trans "ECO-friendly" %} </li>
                <li> {% trans "Durable" %} </li>
              </ul>
              <a href="#contact" class="btn btn-lg btn-block btn-custom-red align-self-end" role="button">{% trans "contact us now" %}</a>
            </div>
          </div>

          <div class="productcard card rounded-0">
            <div class="card-body d-flex flex-column">
              <h3 class="card-title text-center text-uppercase">{% trans "Custom" %}</h3>
              <div class="productcard-icon text-center">
                <i class=" fas fa-cog fa-stack-1x fa-inverse"></i>
              </div>
              <ul>
                <li> {% trans "Fast delivery times" %} </li>
                <li> {% trans "No extra costs" %} </li>
                <li> {% trans "Coal based anti-bleed blocker" %} </li>
                <li> {% trans "Available in any colour" %} </li>
                <li> {% trans "ECO-friendly" %} </li>
                <li> {% trans "Durable" %} </li>
              </ul>
              <a href="#contact" class="btn btn-lg btn-block btn-custom-red align-self-end" role="button">{% trans "contact us now" %}</a>
            </div>
          </div>

          <div class="productcard card rounded-0">
            <div class="card-body d-flex flex-column">
              <h3 class="card-title text-center text-uppercase">{% trans "Badges" %}</h3>
              <div class="productcard-icon text-center">
                <i class=" fas fa-shield-alt fa-stack-1x fa-inverse"></i>
              </div>
              <ul>
                <li> {% trans "Delivery up to 5 working days" %} </li>
                <li> {% trans "Any colour possible" %} </li>
                <li> {% trans "Coal based anti-bleed blocker" %} </li>
                <li> {% trans "Available sizes on request" %} </li>
                <li> {% trans "ECO-friendly" %} </li>
                <li> {% trans "Durable" %} </li>
              </ul>
              <a href="#contact" class="btn btn-lg btn-block btn-custom-red align-self-end" role="button">{% trans "contact us now" %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Products end-->

<!--Service-->
<div class="container-fluid service-container">
  <div class="row">
    <div class="col-12 my-5">
      <h2 class="text-center text-uppercase">{% trans "Why Choose us?" %}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 col-lg-4">
      <div>
        <h3 class="text-uppercase"><i class="fas fa-leaf"></i> {% trans "Special Approval" %}</h3>
        <p>
          {% trans "All our materials are tested externally by Bureau Vertias on ecofriendliness." %}
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div>
        <h3 class="text-uppercase"><i class="fas fa-user-graduate"></i> {% trans "Professional Service" %}</h3>
        <p>
          {% trans "25 years of knowledges and support will be at your service, 5 days a week." %}
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div>
        <h3 class="text-uppercase"><i class="fas fa-thumbs-up"></i> {% trans "Stable quality" %}</h3>
        <p>
          {% trans "We test our products daily to keep up with the standards of professional sports." %}
        </p>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-12 col-md-4 col-lg-4">
      <div>
        <h3 class="text-uppercase"><i class="fas fa-trophy"></i> {% trans "Used by pro's" %}</h3>
        <p>
          {% trans "Heavily used by the top soccer team of Amsterdam for the past 6 years." %}
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div>
        <h3 class="text-uppercase"><i class="fas fa-user-cog"></i> {% trans "Flexible" %}</h3>
        <p>
          {% trans "Short lines of communication! Thanks to our inhouse design studio and production facility." %}
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div>
        <h3 class="text-uppercase"><i class="fas fa-shipping-fast"></i> {% trans "Fast deliveries" %}</h3>
        <p>
          {% trans "Our standard production time is 2 - 5 business days. on standard 1 business day." %}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-ecologic"></div>
<!--Service end-->

<!--Prices-->
<div id="price" class="container-fluid prices-container">
  <div class="row">
    <div class="col-12 my-5">
      <h2 class="text-center text-uppercase">{% trans "Our prices" %}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card-deck">
        <div class="card price-card rounded-0">
          <div class="card-body ">
            <h3 class="card-title text-center">5.0 CM</h3>
            <p class="card-text text-center">
              <img src="{% static 'svg/nr1.svg' %}" alt="Swiss 1">
            </p>
            <p class="card-text text-center">€ 0.35</p>
          </div>
        </div>
        <div class="card price-card rounded-0">
          <div class="card-body">
            <h3 class="card-title text-center">10.0 CM</h3>
            <p class="card-text text-center">
              <img src="{% static 'svg/nr2.svg' %}" alt="Swiss 2">
            </p>
            <p class="card-text text-center">€ 0.55</p>
          </div>
        </div>
        <div class="card price-card rounded-0">
          <div class="card-body">
            <h3 class="card-title text-center">15.0 CM</h3>
            <p class="card-text text-center">
              <img src="{% static 'svg/nr3.svg' %}" alt="Swiss 3">
            </p>
            <p class="card-text text-center">€ 0.95</p>
          </div>
        </div>
        <div class="card price-card rounded-0">
          <div class="card-body">
            <h3 class="card-title text-center">20.0 CM</h3>
            <p class="card-text text-center">
              <img src="{% static 'svg/nr4.svg' %}" alt="Swiss 4">
            </p>
            <p class="card-text text-center">€ 1.15</p>
          </div>
        </div>
        <div class="card price-card rounded-0">
          <div class="card-body">
            <h3 class="card-title text-center">23.0 CM</h3>
            <p class="card-text text-center">
              <img src="{% static 'svg/nr5.svg' %}" alt="Swiss 5">
            </p>
            <p class="card-text text-center">€ 1.30</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="text-center my-5">{% trans "What to expect when the price is right?" %}</h2>
      <p class="text-center mb-2">
        {% trans "The following prices are based on our standard products. Al standard numbers include an antibleed backer." %}
      </p>
      <p class="text-center mb-5">
        {% trans "* prices are per number and based sizes in height." %}
      </p>
    </div>
  </div>
</div>
<!--Prices end-->

<!--Contact-->
<section id="contact">
  <div class="container-fluid contact-container pt-4">
    <div class="row">
      <div class="col-12 my-4">
        <h2 class="text-center text-uppercase text-white">{% trans "Contact Us" %}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">

        <form role="form" method="post" class="container form-bg-color text-white p-4">
          {% csrf_token %}
          <div class="form-group">
            {{ form.contact_name|add_class:"form-control bg-transparent rounded-0 text-white"|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ form.contact_email|add_class:"form-control bg-transparent rounded-0 text-white"|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ form.content|add_class:"form-control bg-transparent rounded-0 text-white"|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ form.captcha }}
          </div>
          <div class="captcha-terms text-center">
            <small>This site is protected by reCAPTCHA and the Google 
              <a href="https://policies.google.com/privacy">Privacy Policy</a> and
              <a href="https://policies.google.com/terms">Terms of Service</a> apply.
            </small>
          </div>
          <div class="text-center py-4">
            <button type="submit" class="btn btn-lg btn-custom-red">{% trans "send a message" %}</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
<!--Contact end-->

{% endblock content %}