{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}

<!--Home-->
<section id="home">

  <!--Hero banner-->
  <header>
    <div class="container-fluid banner-container overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{% static 'vid/ball_bouncing.mp4' %}" type="video/mp4">
    </video>
  </header>
  <!--Hero banner end-->

  <!--Callout-->
  <div class="container text-center">
    <div class="row">
      <div class="col-12">
        <h2 class="my-5">Je hebt rugnummers nodig voor je team, maar hoe?</h2>
        <p class="my-4">
          Wij bieden de vereiste flexibiliteit, service, kennis en snelheid
          om een ​​hoogwaardig, eco-efficiënt geproduceerd en duurzaam product te leveren voor een fatsoenlijke prijs.
        </p>
        <div class="text-center my-5">
          <a href="#contact" class="btn btn-lg btn-custom-red mb-4" role="button">
            laten we samenwerken!
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--Callout end-->

</section>
<!--Home end-->

<!--Products-->
<section class="bg-color-blue">
  <div class="container-fluid">
    <div class="row">
      <div class="col my-5">
        <h2 class="text-center text-uppercase">Onze producten</h2>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-center">
        <div class="card-deck pb-5">
          <div class="productcard card rounded-0">
            <div class="card-body d-flex flex-column">
              <h3 class="card-title text-center text-uppercase">Standaard</h3>
              <div class="productcard-icon text-center">
                <i class="fas fa-store-alt fa-stack-1x fa-inverse"></i>
              </div>
              <ul>
                <li> Snelle levertijden </li>
                <li> Geen extra kosten </li>
                <li> Op kool basis anti-bleed block </li>
                <li> Tot 5 standaardontwerpen </li>
                <li> ECO-vriendelijk </li>
                <li> Duurzaam </li>
              </ul>
              <a href="#contact" class="btn btn-lg btn-block btn-custom-red align-self-end" role="button">neem contact op</a>
            </div>
          </div>

          <div class="productcard card rounded-0">
            <div class="card-body d-flex flex-column">
              <h3 class="card-title text-center text-uppercase">Custom</h3>
              <div class="productcard-icon text-center">
                <i class=" fas fa-cog fa-stack-1x fa-inverse"></i>
              </div>
              <ul>
                <li> Snelle levertijden </li>
                <li> Eigen ontwerpmogelijkheden </li>
                <li> Inclusief anti-bleed block </li>
                <li> Verkrijgbaar in elke kleur</li>
                <li> ECO-vriendelijk </li>
                <li> Duurzaam </li>
              </ul>
              <a href="#contact" class="btn btn-lg btn-block btn-custom-red align-self-end" role="button">neem contact op</a>
            </div>
          </div>

          <div class="productcard card rounded-0">
            <div class="card-body d-flex flex-column">
              <h3 class="card-title text-center text-uppercase">Badges</h3>
              <div class="productcard-icon text-center">
                <i class=" fas fa-shield-alt fa-stack-1x fa-inverse"></i>
              </div>
              <ul>
                <li> Levering tot 5 werkdagen </li>
                <li> Elke kleur mogelijk </li>
                <li> Op kool basis anti-bleed backer </li>
                <li> Maten op aanvraag </li>
                <li> ECO-vriendelijk </li>
                <li> Duurzaam </li>
              </ul>
              <a href="#contact" class="btn btn-lg btn-block btn-custom-red align-self-end" role="button">neem contact op</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Products end-->

<!--Service-->
<div class="container-fluid service-container">
  <div class="row">
    <div class="col-12 my-5">
      <h2 class="text-center text-uppercase">Waarom zou je voor ons kiezen?</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 col-lg-4">
      <div>
        <h3 class="text-uppercase"><i class="fas fa-leaf"></i> Speciale goedkeuring</h3>
        <p>
          Al onze materialen zijn extern getest door Bureau Vertias op milieuvriendelijkheid.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div>
        <h3 class="text-uppercase"><i class="fas fa-user-graduate"></i> Professionele service</h3>
        <p>
          25 jaar kennis en ondersteuning staan ​​5 dagen per week voor u klaar.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div>
        <h3 class="text-uppercase"><i class="fas fa-thumbs-up"></i> Stabiele kwaliteit</h3>
        <p>
          We testen onze producten dagelijks om aan de normen van professionele sporten te voldoen.
        </p>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-12 col-md-4 col-lg-4">
      <div>
        <h3 class="text-uppercase"><i class="fas fa-trophy"></i> Gebruikt door pro's</h3>
        <p>
          De afgelopen 5 jaar intensief gebruikt door EreDivisie clubs in betaald voetbal.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div>
        <h3 class="text-uppercase"><i class="fas fa-user-cog"></i> Flexibel</h3>
        <p>
          Korte communicatielijnen! Dankzij onze eigen ontwerpstudio en productiefaciliteit.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div>
        <h3 class="text-uppercase"><i class="fas fa-shipping-fast"></i> Snelle leveringen</h3>
        <p>
          Onze standaard productietijd is 2 - 5 werkdagen. op standaard nummers 1 werkdag.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-ecologic"></div>
<!--Service end-->

<!--Prices-->
<div id="price" class="container-fluid prices-container">
  <div class="row">
    <div class="col-12 my-5">
      <h2 class="text-center text-uppercase">Onze prijzen</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card-deck">
        <div class="card price-card rounded-0">
          <div class="card-body ">
            <h3 class="card-title text-center">5.0 CM</h3>
            <p class="card-text text-center">
              <img src="{% static 'svg/nr1.svg' %}" alt="Swiss 1">
            </p>
            <p class="card-text text-center">€ 0.35</p>
          </div>
        </div>
        <div class="card price-card rounded-0">
          <div class="card-body">
            <h3 class="card-title text-center">10.0 CM</h3>
            <p class="card-text text-center">
              <img src="{% static 'svg/nr2.svg' %}" alt="Swiss 2">
            </p>
            <p class="card-text text-center">€ 0.55</p>
          </div>
        </div>
        <div class="card price-card rounded-0">
          <div class="card-body">
            <h3 class="card-title text-center">15.0 CM</h3>
            <p class="card-text text-center">
              <img src="{% static 'svg/nr3.svg' %}" alt="Swiss 3">
            </p>
            <p class="card-text text-center">€ 0.95</p>
          </div>
        </div>
        <div class="card price-card rounded-0">
          <div class="card-body">
            <h3 class="card-title text-center">20.0 CM</h3>
            <p class="card-text text-center">
              <img src="{% static 'svg/nr4.svg' %}" alt="Swiss 4">
            </p>
            <p class="card-text text-center">€ 1.15</p>
          </div>
        </div>
        <div class="card price-card rounded-0">
          <div class="card-body">
            <h3 class="card-title text-center">23.0 CM</h3>
            <p class="card-text text-center">
              <img src="{% static 'svg/nr5.svg' %}" alt="Swiss 5">
            </p>
            <p class="card-text text-center">€ 1.30</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="text-center my-5">Wat te verwachten als de prijs goed is?</h2>
      <p class="text-center mb-2">
        De volgende prijzen zijn gebaseerd op onze standaardproducten.
        Alle standaard nummers zijn inclusief een antibleed backer
      </p>
      <p class="text-center mb-5">
        * prijzen zijn per nummer en op basis van het formaat in hoogte
      </p>
    </div>
  </div>
</div>
<!--Prices end-->

<!--Contact-->
<section id="contact">
  <div class="container-fluid contact-container pt-4">
    <div class="row">
      <div class="col-12 my-4">
        <h2 class="text-center text-uppercase text-white">Neem contact op</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">

        <form role="form" method="post" class="container form-bg-color text-white p-4">
          {% csrf_token %}
          <div class="form-group">
            {{ form.contact_name|add_class:"form-control bg-transparent rounded-0 text-white"|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ form.contact_email|add_class:"form-control bg-transparent rounded-0 text-white"|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ form.content|add_class:"form-control bg-transparent rounded-0 text-white"|as_crispy_field }}
          </div>
          <div class="text-center py-4">
            <button type="submit" class="btn btn-lg btn-custom-red">verstuur bericht</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
<!--Contact end-->

{% endblock content %}