{% extends 'base.html' %}
{% load static %}

{% load i18n %}

{% block content %}

<!--Products top-->
<section id="products">
  <div class="container-fluid">

    <!--Product groups-->
    <div class="row">
      {% for product in product_list %}
        
        <div class="col-lg-2 col-md-6 col-sm-12 my-3">
          <div class="card w-100 rounded-0">

            <a class="product-link" href="{% url 'products:product_items' product.slug %}">
              <img id="{% if product.slug in request.path %}product-selected{% endif %}" class="card-img-top product-image rounded-0 " src="{{ product.image.url }}" alt="{{ product.productname }}">
            </a>

            <div class="d-flex flex-column pt-2">
              <h6 class="product-title text-center py-2">
                <a id="{% if product.slug in request.path %}product-selected{% endif %}" href="{% url 'products:product_items' product.slug %}">{{ product.productname }}</a>
              </h6>
            </div>

          </div>
        </div>
       
      {% endfor %}
    </div>
    <!--Product groups end-->

    <!--Ordersearch-->
    <div class="row mb-4">
      <div class="col-12">
        <div class="card px-2 rounded-0">
          <form id="auth-form" method="GET" action="" enctype="uniForm">
            <div class="form-row align-items-center">
              <div class="col-lg-4 col-sm-12">
                {{ itemFilter.form.description }}
              </div>
              <div class="col-lg-2 col-sm-12">
                {{ itemFilter.form.item_group }}
              </div>
              <div class="col-lg-2 col-sm-12">
                {{ itemFilter.form.size }}
              </div>
              <div class="col-lg-2 col-sm-12">
                <button type="submit" id="btn-ordersearch" class="btn btn-black-sm">{% trans "Search" %}</button>
              </div>
              <div class="col-lg-2 col-sm-12">
                <a class="btn btn-black-sm" href="{% url 'products:products' %}">{% trans "Reset" %}</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--Ordersearch end-->

    <!--Order items-->
    <div class="row">
      <div class="col-12">
        <table id="dataTable" class="nowrap table table-sm border">
          <thead>
            <tr>
              <th>{% trans "image" %}</th>
              <th>{% trans "article" %}</th>
              <th>{% trans "group" %}</th>
              <th>{% trans "stock" %}</th>
              <th class="table-align-right">{% trans "amount" %}</th>
            </tr>
          </thead>
          <tbody class="tablerows">
            {% for item in page_object %}
            <tr>
              <td>
                <img class="table-image" src="{{ item.image.url }}" alt="{{ item.name }}">
              </td>
              <td>
                {{ item.name }}
              </td>
              <td>
                {{ item.item_group }}
              </td>
              <td>
                {{ item.stock }}
              </td>
              <td>
                <form class="form-inline table-align-right" method='GET' action="{% url 'orders:add_to_cart' item.slug %}">
                  {% csrf_token %}
                  <input id="amount-inputfield" name='qty' type="number" min="25" step="25" value="25">
                  <button type="submit" class="btn btn-black-add">
                    <i class="fas fa-plus"></i>
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!--Order items end-->

    <!--Paginator-->
    <div class="row mb-5">
      <div class="col-12">
        <span>
          {% if page_object.has_previous %}
            {% if 'description' in request.get_full_path %}
              <a href="{{ request.get_full_path }}&page={{ page_object.previous_page_number }}" class="subtext"><i class="fas fa-angle-double-left"></i> {% trans "prev" %}</a>
            {% else %}
              <a href="?page={{ page_object.previous_page_number }}" class="subtext"><i class="fas fa-angle-double-left"></i> {% trans "prev" %}</a>
            {% endif %}
          {% endif %}

          <span class="subtext-bold px-1">
            {% trans "page" %} {{ page_object.number }} {% trans "of" %} {{ page_object.paginator.num_pages }}
          </span>

          {% if page_object.has_next %}
            {% if 'description' in request.get_full_path %}
              <a href="{{ request.get_full_path }}&page={{ page_object.next_page_number }}" class="subtext">{% trans "next" %} <i class="fas fa-angle-double-right"></i></a>
            {% else %}
              <a href="?page={{ page_object.next_page_number }}" class="subtext">{% trans "next" %} <i class="fas fa-angle-double-right"></i></a>
            {% endif %}
          {% endif %}
        </span>
      </div>
    </div>
    <!--Paginator end-->

  </div>
</section>
<!--products top end-->

{% endblock content %}